body {
  height: 100vh;
}

.block {
  height: 100%;
}

.btn {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 40px;
  border: 0;
}

.block h2 {
  background-color: #ffa500;
}

button.btn:hover,
button.btn:focus,
:not(.btn-check)+.btn:active {
  background-color: #ff0000;
  color: #ffffff;
}

.copy {
  color: #000000;
  position: relative;
}
.copy.active::before {
  position: absolute;
  content: "Copied";
  width: 70px;
  height: 24px;
  left: 75px;
  top: -1px;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 3px 12px;
  border-radius: 5px;
}